*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Ubuntu',sans-serif;
    color: #3A506B;
    background-color: #DDFDF2;
}

.container{
    box-shadow: 0 10px 20px 0 #b3bbc673;
    /* border-color: aqua; */
    border-width: 10px;
    border-radius: 15px;
    overflow: hidden;
    height: 100%;
    padding: 30px;
    margin-top: 50px;
    background-color: white;
}

form{
    margin: 2rem 0 1rem 0;
}

form select ,button,input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    border : 1px solid lightgray;
    font-size: 1rem;
    height: 1.5 rem;
    padding: 0.5rem;
    margin-top: 0.8rem;

}

.dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.select-container img{
    max-width: 2.5rem;
    align-items: center;
    justify-content: center;
    display: flex;

}

.dropdown .select-container{
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 6rem;
    /* background-color: lightgrey; */
    border-width: 1px;
    border : 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.dropdown p{
    padding-left: 2.2rem;
}

.msg{
   
    font-size: 3rem;
}
.toCurrCode{
font-size: 1.5rem;
padding-top: 1.4rem;
padding-left: 0.5;
}

.msg_container{
    margin: 2rem 0 2rem 0;
    padding: 0 2rem 0 2rem;
    color : #3A506B;
    display: flex;

}
.amount{
    padding: 0 2.9rem 0 2rem;
}
#exchange{
    /* border : 1px solid lightgray;     */
    font-size: 1rem;
    height: 1.5 rem;
    padding: 0.5rem;
    margin-top: 0.8rem;
    margin-left: 2rem;
    margin-right: 0.5rem;
    width: 83%;
}
h1{
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:500 ;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}
