*{
    margin: 0;
    padding: 0;
}
body{
    
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    color: #2A2A2A;
    background-color: #3D3D3D;
}

/* this is big container where two partition are there  */
.bigContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

/* first partition  */
.container2{
margin-right: 5rem;
font-size: 2.5rem;
color: white;
}

/* main box of currency converter  */
.container{
    
    border-width: 10px;
    border-radius: 15px;
    overflow: hidden;
    height: 100%;
    padding: 30px;
    margin-top: 7rem;
    background-color: white;
   
}

form{
    margin: 2rem 0 1rem 0;
}

form select ,button,input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    border : 1px solid lightgray;
    font-size: 1rem;
     padding: 0.5rem;
    margin-top: 0.8rem;

}


/* dropdown properties */
.dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.select-container img{
    max-width: 2.5rem;
    align-items: center;
    justify-content: center;
    display: flex;

}

.dropdown .select-container{
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 6rem;
   
    border-width: 1px;
    border : 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.dropdown p{
    padding-left: 2.2rem;
}

/* the currency change value which will appear */

.msg{
   
    font-size: 3rem;
}
.toCurrCode{
font-size: 1.5rem;
padding-top: 1.4rem;
padding-left: 0.5;
}

.msg_container{
    margin: 2rem 0 2rem 0;
    padding: 0 2rem 0 2rem;
    color : #3D3D3D;
    display: flex;

}
.amount{
    padding: 0 2.9rem 0 2rem;
}

/* exchange button  */
#exchange{
    
    font-size: 1rem;
    padding: 0.5rem;
    margin : 0.8rem 0.5rem 0rem 2rem;
    width: 83%;
    font-family: "Inter", sans-serif;
   
}
#exchange:hover {
    background-color:#575757;
    color: white;
}




/* footer css  */
.footer{
    color: white;
    text-align: center;
   
    font-family: "Inter", sans-serif;
    margin-top: 5rem;

            
}
.footer a{
    color: white;
}

.social{
    padding: 10px 10px 10px 10px;
  
}



@media screen and ( max-width : 998px){
    .container2{
        padding: 6rem 0rem 0rem 2rem;
        font-size: 2rem;
       
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0rem;
        width: 80%;
    }
    .container{
        width: 80%;
    }
    
}